:root{
    --light:#97E7E1;
    --dark:#D6589F;
       --darker :#972c47;
--secondary : #4881af;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior:smooth;
    color: blanchedalmond;
    margin:0;
}
body{
    font-size: 1.9rem;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
ul{
    list-style:none;
}
header{
    position:sticky;
   top:0;
    z-index:100;
    background: var(--light);
}
nav .logo{
    color:var(--darker);
    font-size: 2rem;
    font-weight: 700;
}
nav ul a{
    color:var(--secondary);
}
nav ul a:hover{
    color:var(--dark);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav ul{
    display: flex;
    gap:1rem;
}
nav li{
    color:  #4881af;
    font-size: 1.8rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3sec ease-in-out;
}
nav li:hover{
    border-bottom: 0.4rem var(--secondary)solid;
    transition:0.3sec ease-in-out;
}
main{
    background:  #6AD4DD;
    padding:3rem 0;
    min-height: 90vh;
}
#main.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 20px;
}
.main.content{
    text-align: right;
margin-top: -320px;
}
#main h1{
    font-size: 3rem;
    font-weight: bold;
    place-items: center;
    
}
.hi .text{
    font-size: 14rem;
    font-weight: bold;
    color:#972c47;
}
.nametext{
    font-size: 5rem;
}
#main h2{
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
    border-left: 0.15em ;
    white-space:nowrap ;
    margin: 0 auto;
   animation: typing 5s steps(50,end); 
}
@keyframes typing{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
/* project section */
.skills{
    width:100%;
    height:400px;
    display: flex;
    flex-direction: row;
    
    align-items:flex-start;
    color: teal;
    padding:80px;
    justify-content: space-evenly;
}
.skills img{
    max-width: 100%;
    margin-bottom:60px;
    margin-top: 60px;
    margin-left: 60px;
}
.three-one h2{
    color:teal;
    
}
.skills h1{
    color:teal;
    padding:10px;
    margin-right: -490px;
} 
.info{
    font-size:20px;
padding:10px;
}
.tech-bar .progress-line-html{
    width:190px;
    height:2px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    left:40px;
    top:20px;
}
.tech-bar .progress-line-css{
    width:190px;
    height:2px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    left:65px;
    top:20px;
}
.tech-bar .progress-line-javascript{
    width:190px;
    height:2px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    left:120px;
    top:-25px;
}
.tech-bar .progress-line-java{
    width:190px;
    height:2px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    left:60px;
    top:30px;
}
.html{
    display:flex;
}
.css{
    display:flex;
}
.javascript{
    display:flex;
}
.java{
    display:flex;
}
.progress-line-html span{
    width:90%;
    background-color: darkslateblue;
    position:absolute;
    height:100%;
}
.progress-line-css span{
    width:90%;
    background-color: darkslateblue;
    position:absolute;
    height:100%;
}
.progress-line-javascript span{
    width:80%;
    background-color: darkslateblue;
    position:absolute;
    height:100%;
}
.progress-line-java span {
    width:70%;
    background-color: darkslateblue;
    position:absolute;
    height:100%;
}
.my-pro{
    width:100%;
    position:relative;
    display: flex;
    justify-content: space-evenly;
    background-color: #6AD4DD;
}
.project h1{
   font-size: 40px;
   height: 50px;
   background-color: #6AD4DD;
   display: flex;
   color: #972c47;
   justify-content: center;
}
.landpage{
    border:solid 3px#972c47;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px#972c47;
    width: 500px;
    margin:20px;
}
.landpage img{
    height:400px;
    width:300px;
    margin-left:75px ;
}
.project.landpage h2{
    color:darkslateblue;
}
.landpage p{
    font-size: larger;
    font-weight: 600;
}
.calc{
    border:solid 3px#972c47;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px#972c47;
    width: 500px;
    margin:20px;
}
.calc img{
    height:400px;
    width:300px;
    margin-left:75px ;
}
.calc p{
    font-size: larger;
    font-weight: 600;
}